{
  "extends": ["@feature-sliced", "prettier"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "import/no-internal-modules": [
      "warn",
      {
        "allow": [
          "**/ui/*",
          "**/assets/*/*",
          "pages/*",
          "processes/*",
          "widgets/*",
          "features/*",
          "entities/*",
          "shared/*"
        ]
      }
    ],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ],
    "prettier/prettier": "error"
  },
  "plugins": [
    "import", "prettier"
  ]
}