{
  "extends": ["@feature-sliced", "prettier"],
  "parser": "@typescript-eslint/parser",
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "import/no-internal-modules": [
      "warn",
      {
        "allow": [
          "**/ui/*",
          "**/assets/*/*",
          "**/hooks/*",
          "**/types/*",
          "**/lib/*",
          "**/model",
          "app/*",
          "pages/*",
          "processes/*",
          "widgets/*",
          "features/*",
          "entities",
          "entities/*",
          "shared/*",
          "firebase/*",
          "@env"
        ]
      }
    ],
    "import/newline-after-import": [
      "error",
      {
        "count": 1
      }
    ]
  },
  "plugins": [
    "import", "prettier"
  ]
}